{%  extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="bg-white py-0">
            <div class="container px-4 px-lg-5 my-1">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder text-danger">About us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welome To Movie Main Project</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        Movie Stuff!!!!!!!!!!!!
                    </div>
                </center>
            </div>
        </div>

{% endblock %}